                  

             								     /*header styling*/
#dim
{
	opacity: 40%;
	margin:0.1em;
	width:2%;
}
#dim1
{
	opacity: 40%;
	margin:0.1em;
	width:2%;
}
#hSearch
{
	border-radius: 1.5rem;
	height:2rem;
	width:84%;
	margin:0.7rem;
	border:none;
	background-color:#d2d4d6;
	background-image: url("E:/WEB DEVELOPMENT/google project/favicon.ico");
	background-repeat: no-repeat;
	background-size:23px;
	padding:3px;
	padding-top:6px;
	padding-left:8px;
	background-origin:content-box;
}
#hSearch::placeholder {
    font-size: 1.1em;
}
input:focus , input:active
{
	outline:none;
}
input[type=text]{
  text-indent:30px;
}
.fa-redo-alt
{
	padding:5px;
}
.fa-redo-alt:hover
{
	background-color:#e4ebe5;
	border-radius: 50%;
	background-clip: padding-box;	
}   
.fa-star
{
	position:absolute;
	padding-top:20px;
	margin-left:-40px;
	opacity:0.5;
}
.profile
{
	margin-top:15px;
	width: 30px;
	height: 30px;
	position: absolute;
	padding:2px;
}
.b
{
	margin-top: 16px !important;
}
.profile:hover
{
	background-color: #e4ebe5;
	border-radius: 50%;
}
.navi .fa-ellipsis-v
{
	padding-left:50px;
	padding-top: 22px;
}
hr
{
	margin-top:-5px;
	margin-bottom: -7px;
}
 												/*nav bar styling*/
nav
{
	position: absolute;
	margin-left: 70em;
	padding-top: 5px;
}
nav a
{
	color:black;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	margin-right: -40px;
}
nav a:hover
{
	text-decoration: underline;
}
.Gmail
{
	margin-right: 15px;
}
nav .first
{
	padding:0px;
	margin-left:10px;
	margin-right:-53px;
}
nav .second
{
	margin-right:-53px;
}
nav i
{
	opacity: 50%;
}
nav .profile
{
	margin-left:30px;
	height: 40px;
	width:40px;
}
   										 		 /*body-content*/
.google
{
	margin-left:40%;
	font-size:70px;
	font-family: 'Reem Kufi', sans-serif;
}
#one,#third
{
	color:blue;
	margin-right:-12px;
}
#two,#sixth
{
	color:red;
	margin-right:-11px;
}
#fourth
{
	color:yellow;
	margin-right:-11px;
}
#fifth
{
	color:green;
	margin-right:-11px;
}
#bSearch
{
	border-radius: 1.5rem;
	height:3em;
	width:37em;
	margin-left:30em;
	border:none;
	background-image: url("E:/WEB DEVELOPMENT/google project/search.jpg");
	background-size: 22px;
	background-origin:content-box;
	background-repeat: no-repeat;
	background-position: right;
	padding:3px;
	padding-top:6px;
	padding-left:10px;
	padding-right:20px;
	box-shadow:rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
	position: absolute;
}
#bSearch::placeholder {
    font-size: 1.1em;
}
.iSearch
{
	position: absolute;
	padding-left:26em;
	padding-top:15px;
	opacity:0.5;
	size:15px;
}
.saved 
{
	margin-left:30em;
}
.saved section
{
	height:110px;
	width:100px;
	float:left;
	display:inline-flex;
	margin-top:65px;
	position: relative;   
	justify-content: center;
	align-items: center;
}
.saved section:hover
{
	border-radius: 5%;
	background-color: rgba(32, 33, 36,0.1);
}
.saved a
{
	display: flex;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	background-clip: content-box;
	height:50px;
	width:50px;
	border-radius: 50%;
	background-color:rgb(241 243 244);
}
.fa-youtube 
{
	color:red;
}
.fa-css3
{
	color:#264de4;
}
.fa-html5
{
	color:#e34c26;
}
.parent:hover > a
{
	background-color: rgb(241 243 244);
}
.saved #txt
{
	position:absolute;
	bottom:4px;
	font-family: 'Roboto', sans-serif;
	font-size: 75%;
}
.parent .fa-ellipsis-v 
{
	position:absolute;
	right:0px;
	top:2px;
	height:10px;
	width:10px;
	padding:10px;
	opacity: 0;
}
.parent:hover > .fa-ellipsis-v 
{
	opacity: 0.6;
}
.content .fa-ellipsis-v:hover
{
	background-color: #f7f7f0;
	background-clip:padding-box;
	border-radius:53%;
	background-position: center;
}
.snd
{
	display: inline-block;
	vertical-align: top;
}
.snd section
{
	margin-top: 10px;
}
.fa-twitter
{
	color:#1DA1F2;
}
.fa-stack-overflow
{
	color:orange;
}
.fa-plus
{
	color:black;
}
.fa-facebook
{
	color:#4267B2;
}
.custome
{
	color:rgb(26 115 232);
	margin-left:73em;
	font-weight: 400;
	box-shadow: rgb(32 33 36 / 28%) 0px 1px 6px 0px;
    border-radius: 1.5rem;
    height:28%;
    width:9em;
    padding:5px;
    padding-left:9px;
    padding-right: 9px;
}
.custome:hover
{
	background-color:rgb(243 245 249);
}
