<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style 
      include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li>home</li>
            <li>about</li>
            <li>contact</li>

        </ul>
    </nav>
    <div class="container">
    <h1>Body The Builder</h1>
    <h2>Gym Memebership Just for 500/ Fill the Form Below</h2>
<form action="/" method="post" id="con">
<input type="text" name="name" placeholder="enter your name">
 <input type="text" name="gender" placeholder="enter your gender">
 <input type="number" name="age" placeholder="enter your age">
 <textarea name="address" cols="20"  rows="5" placeholder="your address"></textarea>
 <textarea name="more" cols="20"  rows="5" placeholder="tell us more"></textarea>
 <button class="btn">Submit</button>
</form>
</div>
</body>
</html>