{% extends "base.html" %}

{% block title%} 
    {{ title }} 
{% endblock %}

{% block content%}


<div class="container">
    <div class="row mt-4">
        <div class="col-lg-5 col-md-6 m-auto card p-4">
            <form action="{{ request.path }}" method="POST" class="card-body">
                {{ form.csrf_token }}
                <!-- info lables -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}


                <!-- heading -->
                <div class="text-center">
                    <h2>User Authentication in Flask</h2>
                    <h5 class="text-primary">{{ text }}</h5>
                </div>

                <!-- text fields -->
                <!-- Email -->
                <div class="form-group mb-3">
                    {{ form.email(class_="form-control",placeholder="Email")}}
                </div>
                {% for error in form.email.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor%}

                <!-- Password -->
                <div class="form-group mb-3">
                    {{ form.pwd(class_="form-control",placeholder="Password")}}
                </div>
                {% for error in form.pwd.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div> 
                {% endfor%}

                <div class="text-center">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-block btn-primary mb-3"> {{ btn_action }} </button>
                    </div>
                    <p>
                        {% if request.path != '/register' %}
                        New here?
                        <a href="{{url_for('register')}}">Create account</a>
                        {% else %}
                        Already have an account?
                        <a href="{{url_for('login')}}">Login</a>
                        {% endif %}
                    </p>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}