@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Raleway:wght@400;500;600&display=swap');
html {
	font-size: 10px;
	overflow-x: hidden;
}
body {
	background: var(--lightGreen-2);
	overflow-x: hidden;
	visibility: hidden;
}
section {
	padding: 100px 0;
}
@media only screen and (max-width: 767px) {
	section {
		padding: 50px 0;
	}
}
.container {
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}
:root {
	--green-1:#395B64;
	--green-2: #A5C9CA;
	--lightGreen-1:#A5C9CA;
	--lightGreen-2: #E7F6F2;
	--black-1: #09321b;
	--black-2: #003928;
	--black-3: #926E6F;
	--white-1: #e8e8e8;
}
img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
h1,
h2,
h3,
h4 {
	font-family: Poppins;
}
p {
	font-family: Raleway;
	font-weight: 400;
	line-height: 1.4em;
	font-size: 1.8rem;
}
a {
	display: inline-block;
	text-decoration: none;
}
